.Clients
  padding 94px 0 90px
  background-color: #f1f8ff
.Clients-items
  margin 80px 0 20px
  display flex
  justify-content space-between
  flex-wrap wrap
  align-items center
  & img
    filter: grayscale(100%)
