@media (max-width: 1400px)
  .windows-pupUp-menu
    nav
      padding-bottom 20px
      a
        font-size: 40px;
        line-height: 70px;
    .socialMedia
      padding-top 20px
  footer .container
    width 90%
@media (max-width: 1300px)
  .button-menu
    right 20px
  .LatestWorks .LatestWorks-items
    justify-content center
    .item
      margin 0 10px 20px
  footer
    .container
      justify-content center
    h3
      font-size 45px
  .Clients-items
    justify-content center
    .item
      margin 0 20px 20px

@media (max-width: 320px)
  .welcome--h1, h2
    font-size 30px
  .welcome--p
    font-size 12px
  .windows-pupUp-menu
    .socialMedia
      width 90%
  .aboutMe
    padding-bottom 50px
    h2
      font-size 30px
    p
      margin-top:30px
  .ExpertIn-items .item h3
    font-size 25px
  footer h3
    font-size 25px
    text-align center
